name: GitHub Actions

env:
  PYTHON_MAIN_VERSION: 3.11
  POETRY_VERSION: 1.7.1

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        allow_failure: [false]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
            python -m pip install poetry==${{ env.POETRY_VERSION }}
            poetry install

      - name: Lint
        if: ${{ matrix.python-version == env.PYTHON_MAIN_VERSION }}
        run: |
            poetry run flake8 --count

      - name: Test
        run: |
            poetry run pytest tests/

      - name: Coverage
        if: ${{ matrix.python-version == env.PYTHON_MAIN_VERSION }}
        run: |
            poetry run pytest --cov=scidatalib --cov-report=term-missing tests/
            pip install coverage
            bash <(curl -s https://codecov.io/bash)
